:root{
    --radius-sm: calc(var(--radius, 0.25em)/2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em)*2);
    --shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
    --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05),0 3.5px 6px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),0 30px 42px -1px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012),0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035),0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07),0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117),0 46px 60px -6px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #fafafaa8;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.elevation-1{
    box-shadow: var(--shadow-xs);
}
.elevation-2{
    box-shadow: var(--shadow-sm);
}
.elevation-3{
    box-shadow: var(--shadow-md);
}
.elevation-4{
    box-shadow: var(--shadow-lg);
}
.elevation-5{
    box-shadow: var(--shadow-xl);
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV0ewJER.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.title-color{
    color: #0c3c7c;
}

.primary-bg {
    background-color: #0c3c7c;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #4994ec;
}

.accordion-button {
    color: #fff;
    background-color: #9e9e9e;
}

#autocomplete {
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

#autocomplete ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#autocomplete li {
    background: #fff;
    color: #000;
    cursor: default;
    white-space: pre;
    zoom:1;}

html.js input.form-autocomplete {
    background-image: url(/misc/throbber-inactive.png);
    background-position: 100% center;
    background-repeat: no-repeat;
}

html.js input.throbbing {
    background-image: url(/misc/throbber-active.gif);
    background-position: 100% center;
}

html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
}

html.js fieldset.collapsed .fieldset-wrapper {
    display: none;
}

fieldset.collapsible {
    position: relative;
}

fieldset.collapsible .fieldset-legend {
    display: block;
}

.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.resizable-textarea .grippie {
    background: #eee url(/misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

body.drag {
    cursor: move;
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    background: url(/misc/draggable.png) no-repeat 6px 9px;
    height: 13px;
    margin: -0.4em 0.5em;
    padding: 0.42em 0.5em;
    width: 13px;
}

a.tabledrag-handle-hover .handle {
    background-position: 6px -11px;
}

div.indentation {
    float: left;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    width: 20px;
}

div.tree-child {
    background: url(/misc/tree.png) no-repeat 11px center;
}

div.tree-child-last {
    background: url(/misc/tree-bottom.png) no-repeat 11px center;
}

div.tree-child-horizontal {
    background: url(/misc/tree.png) no-repeat -11px center;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right;
}

table.sticky-header {
    background-color: #fff;
    margin-top: 0;
}

.progress .bar {
    background-color: #fff;
    border: 1px solid;
}

.progress .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px;
}

.progress .percentage {
    float: right;
}

.ajax-progress {
    display: inline-block;
}

.ajax-progress .throbber {
    background: transparent url(/misc/throbber-active.gif) no-repeat 0px center;
    float: left;
    height: 15px;
    margin: 2px;
    width: 15px;
}

.ajax-progress .message {
    padding-left: 20px;
}

tr .ajax-progress .throbber {
    margin: 0 2px;
}

.ajax-progress-bar {
    width: 16em;
}

.container-inline div,.container-inline label {
    display: inline;
}

.container-inline .fieldset-wrapper {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

html.js .js-hide {
    display: none;
}

.element-hidden {
    display: none;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.element-invisible.element-focusable:active,.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

*:first-child + html .clearfix {
    min-height: 1%;
}

ul.menu {
    border: none;
    list-style: none;
    text-align: left;
}

ul.menu li {
    margin: 0 0 0 0.5em;
}

ul li.expanded {
    list-style-image: url(/misc/menu-expanded.png);
    list-style-type: circle;
}

ul li.collapsed {
    list-style-image: url(/misc/menu-collapsed.png);
    list-style-type: disc;
}

ul li.leaf {
    list-style-image: url(/misc/menu-leaf.png);
    list-style-type: square;
}

li.expanded,li.collapsed,li.leaf {
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

li a.active {
    color: #000;
}

td.menu-disabled {
    background: #ccc;
}

ul.inline,ul.links.inline {
    display: inline;
    padding-left: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

.breadcrumb {
    padding-bottom: 0.5em;
}

ul.primary {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 5px;
    padding: 0 0 0 1em;
    white-space: nowrap;
}

ul.primary li {
    display: inline;
}

ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-style: solid solid none solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}

ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}

ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}

ul.secondary li {
    border-right: 1px solid #ccc;
    display: inline;
    padding: 0 1em;
}

ul.secondary a {
    padding: 0;
    text-decoration: none;
}

ul.secondary a.active {
    border-bottom: 4px solid #999;
}

div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}

div.status {
    background-image: url(/misc/message-24-ok.png);
    border-color: #be7;
}

div.status,.ok {
    color: #234600;
}

div.status,table tr.ok {
    background-color: #f8fff0;
}

div.warning {
    background-image: url(/misc/message-24-warning.png);
    border-color: #ed5;
}

div.warning,.warning {
    color: #840;
}

div.warning,table tr.warning {
    background-color: #fffce5;
}

div.error {
    background-image: url(/misc/message-24-error.png);
    border-color: #ed541d;
}

div.error,.error {
    color: #8c2e0b;
}

div.error,table tr.error {
    background-color: #fef5f1;
}

div.error p.error {
    color: #333;
}

div.messages ul {
    margin: 0 0 0 1em;
    padding: 0;
}

div.messages ul li {
    list-style-image: none;
}

fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
}

form {
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid gray;
    height: 1px;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}

tbody {
    border-top: 1px solid #ccc;
}

tr.even,tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}

th.active img {
    display: inline;
}

td.active {
    background-color: #ddd;
}

.item-list .title {
    font-weight: bold;
}

.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}

.form-item,.form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
}

tr.odd .form-item,tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.form-item .description {
    font-size: 0.85em;
}

label {
    display: block;
    font-weight: bold;
}

label.option {
    display: inline;
    font-weight: normal;
}

.form-checkboxes .form-item,.form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.form-type-radio .description,.form-type-checkbox .description {
    margin-left: 2.4em;
}

input.form-checkbox,input.form-radio {
    vertical-align: middle;
}

.marker,.form-required {
    color: #f00;
}

.form-item input.error,.form-item textarea.error,.form-item select.error {
    border: 2px solid red;
}

.container-inline .form-actions,.container-inline.form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

.more-link {
    text-align: right;
}

.more-help-link {
    text-align: right;
}

.more-help-link a {
    background: url(/misc/help.png) 0 50% no-repeat;
    padding: 1px 0 1px 20px;
}

.item-list .pager {
    clear: both;
    text-align: center;
}

.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}

.pager-current {
    font-weight: bold;
}

#autocomplete li.selected {
    background: #0072b9;
    color: #fff;
}

html.js fieldset.collapsible .fieldset-legend {
    background: url(/misc/menu-expanded.png) 5px 65% no-repeat;
    padding-left: 15px;
}

html.js fieldset.collapsed .fieldset-legend {
    background-image: url(/misc/menu-collapsed.png);
    background-position: 5px 50%;
}

.fieldset-legend span.summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
}

tr.drag {
    background-color: #fffff0;
}

tr.drag-previous {
    background-color: #ffd;
}

.tabledrag-toggle-weight {
    font-size: 0.9em;
}

body div.tabledrag-changed-warning {
    margin-bottom: 0.5em;
}

tr.selected td {
    background: #ffc;
}

td.checkbox,th.checkbox {
    text-align: center;
}

.progress {
    font-weight: bold;
}

.progress .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress .filled {
    background: #0072b9 url(/misc/progress.gif);
}

#okta-sign-in .o-form .input-fix input[type=number], #okta-sign-in .o-form .input-fix input[type=password], #okta-sign-in .o-form .input-fix input[type=tel], #okta-sign-in .o-form .input-fix input[type=text], #okta-sign-in .o-form .input-fix input[type=textbox] {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 6px 8px;
    line-height: 16px;
    border: none;
    background: transparent;
    box-sizing: border-box;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#okta-sign-in.auth-container .okta-form-input-field input {
    font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
    color: #5e5e5e;
}

#okta-sign-in .o-form .input-fix input, #okta-sign-in .o-form .textarea-fix input {
    padding: 8px;
    line-height: 22px;
    font-size: 14px;
    border: none;
    background: none;
    box-shadow: none;
}

.bg-dark-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(12,60,124,var(--tw-bg-opacity));
}

.DesktopHeaderLogo {
    max-width: 232px;
}

@media (min-width: 992px){
    .CallToActionContainer {
        display: inline-block;
    }
    .CallToActionItem:first-child, .CallToActionItem:last-child {
        margin-left: 0;
        margin-right: 10px;
    }
    .CallToActionButton {
        min-width: 102px;
        padding: 10px 20px;
    }
}

.CallToActionContainer {
    display: flex;
}

.CallToActionItem:first-child {
    margin-right: 5px;
}

.CallToActionItem {
    display: inline-block;
    flex-grow: 1;
}

.text-bright-blue-100 {
    --tw-text-opacity: 1;
    color: rgba(241,252,255,var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

.bg-dark-blue-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(25,81,156,var(--tw-bg-opacity));
}

nav, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.CallToActionButton {
    display: inline-block;
    line-height: 20px;
    padding: 15px 0;
    width: 100%;
}

nav button {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
}

.w-15 {
    width: 3.75rem;
}
.h-15 {
    height: 3.75rem;
}
nav button {
    appearance: button;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

#okta-sign-in {
    font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f9f9f9;
    color: #777;
    position: relative;
    overflow: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 100px auto 8px;
    width: 400px;
    min-width: 300px;
}

#okta-sign-in.auth-container.main-container {
    font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
    color: #777;
}

#okta-sign-in.auth-container.main-container {
    background-color: #fff;
    border-color: #ddd #ddd #d8d8d8;
    box-shadow: 0 2px 0 hsl(0deg 0% 69% / 12%);
}
#okta-sign-in.auth-container .okta-sign-in-header {
    border-bottom-color: #ddd;
}
#okta-sign-in.auth-container .okta-sign-in-header {
    color: #5e5e5e;
}
#okta-sign-in.no-beacon .auth-header {
    padding-bottom: 30px;
}
#okta-sign-in .auth-header {
    padding: 30px 90px 75px;
    position: relative;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    -moz-transition: padding-bottom .4s;
    -webkit-transition: padding-bottom .4s;
    transition: padding-bottom .4s;
}
#okta-sign-in.no-beacon .auth-content {
    padding-top: 20px;
}
#okta-sign-in .auth-content {
    padding: 60px 42px 20px;
    -moz-transition: padding-top .4s;
    -webkit-transition: padding-top .4s;
    transition: padding-top .4s;
}
#okta-sign-in.auth-container h2, #okta-sign-in.auth-container h3 {
    font-weight: 600;
    color: #5e5e5e;
}

#okta-sign-in .o-form-head {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
    text-transform: none;
}
#okta-sign-in .o-form-head, #okta-sign-in .o-form-subhead {
    line-height: 30px;
    margin: 0 0 15px;
    padding: 0;
    font-weight: 200;
}
#okta-sign-in .o-form-head {
    color: #46b090;
    font-size: 14px;
    text-transform: uppercase;
}
#okta-sign-in h2, #okta-sign-in h3 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}
#okta-sign-in .o-form-button-bar {
    background: transparent;
    border: none;
    padding: 0 0 25px;
    border-radius: 0;
    box-shadow: none;
}
#okta-sign-in.auth-container .button {
    color: #5e5e5e;
    background-color: #fbfbfb;
    background: -o-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);
    background: -ms-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f8f8f8));
    background: linear-gradient(#fbfbfb,#f8f8f8);
    border-color: #c3c3c3 #c3c3c3 #bbb;
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
}
#okta-sign-in.auth-container .button-primary {
    color: #fff;
    background-color: #007dc1;
    background: -o-linear-gradient(top,#007dc1 0,#0073b2 100%);
    background: -ms-linear-gradient(top,#007dc1 0,#0073b2 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#007dc1),to(#0073b2));
    background: linear-gradient(#007dc1,#0073b2);
    border-color: #004b75 #004b75 #00456a;
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
}
#okta-sign-in .o-form-button-bar .button {
    display: block;
    width: 100%;
    height: 50px;
}
#okta-sign-in .button, #okta-sign-in .button.link-button {
    display: inline-block;
    height: 40px;
    line-height: 36px;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}
#okta-sign-in.auth-container .link, #okta-sign-in.auth-container .link:active, #okta-sign-in.auth-container .link:hover, #okta-sign-in.auth-container .link:link, #okta-sign-in.auth-container .link:visited {
    color: #777;
}
.bg-dark-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(12,50,102,var(--tw-bg-opacity));
}
.DesktopHeaderTop {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    position: relative;
}
.LinkDivider {
    margin-right: 21px;
    position: relative;
    z-index: 0;
}
#okta-sign-in [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    appearance: button;
    background-color: transparent;
    background-image: none;
    border: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.text-bright-blue-600 {
    --tw-text-opacity: 1;
    color: rgba(1,159,203,var(--tw-text-opacity));
}
.leading-xs-heading {
    line-height: 1.0625rem;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(190,196,201,var(--tw-border-opacity));
}

.border {
    border-width: 1px;
}
.rounded-sm {
    border-radius: 0.125rem;
}
.w-full {
    width: 100%;
}
.focus\:shadow-none:focus {
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.focus\:border-dark-blue-400:focus {
    --tw-border-opacity: 1;
    border-color: rgba(25,81,156,var(--tw-border-opacity)) !important;
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 0 3px rgb(1 159 203 / 50%);
}
.RadioOption, .RadioOr {
    line-height: 24px;
}
.RadioOption {
    position: relative;
}
.RadioInput {
    border-radius: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 20px;
    z-index: 1;
}
.RadioLabel {
    cursor: pointer;
    padding-left: 26px;
}
.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(190,196,201,var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}

.custom-card{
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.75rem;
}

.custom-shadow{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.rounded-md {
    border-radius: 0.375rem/* 6px */;
}
.uppercase {
    text-transform: uppercase;
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-150 {
    transition-duration: 150ms;
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}
.border {
    border-width: 1px;
}
.border-transparent {
    border-color: transparent;
}
.font-semibold {
    font-weight: 600;
}
.custom-shadow-2 {
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .08) !important;
}

.custom-card-shadow {
    border-radius: 10px !important;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .08) !important;
    border: 0 !important;
}
